<h2 class="text-2xl font-bold text-center mb-8">Create Acquisitions</h2>

<form [formGroup]="acquisitionForm" (ngSubmit)="onSubmit()">
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label
        for="presupuesto"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Presupuesto</label
      >
      <input
        type="number"
        id="presupuesto"
        formControlName="presupuesto"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="0"
        required
      />
    </div>
    <div>
      <label
        for="unidad"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Unidad</label
      >
      <input
        type="number"
        id="unidad"
        formControlName="unidad"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="0"
        required
      />
    </div>
    <div>
      <label
        for="tipoBienServicio"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Tipo de Bien/Servicio</label
      >
      <input
        type="text"
        id="tipoBienServicio"
        formControlName="tipoBienServicio"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Bien o Servicio"
        required
      />
    </div>
    <div>
      <label
        for="cantidad"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Cantidad</label
      >
      <input
        type="number"
        id="cantidad"
        formControlName="cantidad"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="0"
        required
      />
    </div>
    <div>
      <label
        for="valorUnitario"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Valor Unitario</label
      >
      <input
        type="number"
        id="valorUnitario"
        formControlName="valorUnitario"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="0.00"
        required
      />
    </div>
    <div>
      <label
        for="valorTotal"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Valor Total</label
      >
      <input
        type="number"
        id="valorTotal"
        formControlName="valorTotal"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="0.00"
        required
      />
    </div>
  </div>
  <div class="mb-6">
    <label
      for="fechaAdquisicion"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Fecha de Adquisición</label
    >
    <input
      type="text"
      id="fechaAdquisicion"
      formControlName="fechaAdquisicion"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="dd/mm/yyyy"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="proveedor"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Proveedor</label
    >
    <input
      type="text"
      id="proveedor"
      formControlName="proveedor"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder="Proveedor"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="documentacion"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Documentación</label
    >
    <input
      type="text"
      id="documentacion"
      formControlName="documentacion"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      placeholder=""
      required
    />
  </div>
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Guardar Adquisición
  </button>
</form>
